
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .jumbotron
    padding: 15% 50px 7%

  .jumbo-wrap
    p
      font-size: 18px
  .slick-item
    img
      min-height: 400px

  .blockquote
    p
      font-size: 30px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .navigation
    display: none
  .navigation-button
    display: block


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  /**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  /**/


